<div class="header-container">
    <nav class="items-block">
        <ul>
            <li>Needs</li>
            <li>Price List</li>
            <li>Treatments
                <ul class="dropdown">
                    <li>Surgical</li>
                    <li>Dental</li>
                </ul>
            </li>
            <li>Surgical</li>
            <li>Dental</li>
        </ul>
    </nav>
    <div class="logo">
        <h1>LOGO</h1>
    </div>
    <div class="contact">
        <span class="contact-number">+374 44 007171</span>
        <i class="menu-icon fas fa-bars"></i>
    </div>

</div>
