<div class="appointment-main">
    <div class="appointment-title">
        <h2>Schedule an Appointment</h2>
    </div>
    <div class="appointment-menu">
        <div class="main-category-block">
            <ul class="active">
                <li class="category-btn"
                    data-sub='[
                    {"Doctor Consultation": []},
                    {"Injection": [
                        {"Dermal Filler Injections": []},
                        {"Botulinum Toxin": []},
                        {"Fat Burner Injection": []},
                        {"Mesotherapy": []},
                        {"PRP": []}
                    ]}
                ]'
                    data-name="Aesthetic & Anti-aging">
                    <div class="li-inner">
                        <p>Aesthetic & Anti-aging</p>
                        <i class="arrow-btn fas fa-chevron-down"></i>
                        <i class="inactive-arrow arrow-btn fas fa-chevron-up"></i>
                    </div>
                </li>
                <li class="category-btn"
                    data-sub='[
        {"Laser Hair Removal": [
            {"Men": []},
            {"Women": []}
        ]},
        {"Skin treatment": [
            {"Skin Care & Facial": [
                {"Mirapeel Hydrating Facial": []},
                {"Dermapen Microneedling": []}
            ]},
            {"Peeling": [
                {"Pigmentation": []},
                {"Hollywood (Carbon) Peel": []}
            ]},
            {"Devices": [
                {"Clarity 2": []},
                {"Hollywood Spectra": []},
                {"Sofwave": []},
                {"Genius RF Microneedling": []}
            ]}
        ]},
        {"PRP": [
            {"PRP Face & Neck": []},
            {"PRP Hair": []}
        ]},
        {"Hardware Cosmetology Consultation": []}
    ]'
                    data-name="Hardware Cosmetology">
                    <div class="li-inner">
                        <p>Hardware Cosmetology</p>
                        <i class="arrow-btn fas fa-chevron-down"></i>
                        <i class="inactive-arrow arrow-btn fas fa-chevron-up"></i>
                    </div>
                </li>
                <li class="category-btn"
                    data-sub='[
        {"Aesthetic Dental treatments": [
            {"Aligners": []},
            {"Whitening": []},
            {"Veneers": []},
            {"Cleansing & polishing": []}
        ]},
        {"CBCT Scan (Cone Beam CT)": []},
        {"Dental Consultation": []},
        {"Holistic Dentistry Consultation": []}
    ]'
                    data-name="Dental">
                    <div class="li-inner">
                        <p>Dental</p>
                        <i class="arrow-btn fas fa-chevron-down"></i>
                        <i class="inactive-arrow arrow-btn fas fa-chevron-up"></i>
                    </div>
                </li>
                <li class="category-btn" data-sub='[{"Doctor Consultation": []}]' data-name="Hair Transplant">
                    <div class="li-inner">
                        <p>Hair Transplant</p>
                        <i class="arrow-btn fas fa-chevron-down"></i>
                        <i class="inactive-arrow arrow-btn fas fa-chevron-up"></i>
                    </div>
                </li>

            </ul>
            <div class="sub-category-block"></div>
            <div class="third-category-block"></div>
        </div>
    </div>
    <div class="main-image-block">
        <img src="assets/main_image.jpg" alt="Main image" width="100%">
    </div>
</div>
