.search-container {
    display: flex;
    align-items: center;
}

.text-block {
    width: 50%;
    display: flex;
    justify-content: start;
}

.search-block {
    width: 50%;
    display: flex;
    justify-content: end;
}


